body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-image: url("./cocoa-flap-sprites/background.png");
    touch-action: none;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    display: block;
    margin: 0 auto;
}